{% extends "autenticacao/base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<section class="bg-gray-50">
    <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
        <img class="w-24 h-12 mr-2" src="../../static/images/fho_logo.png" alt="Logo do Projeto">
        <a class="mt-2 flex items-center mb-6 text-2xl font-bold text-gray-900">
            Sistema de Faltas
        </a>
        <div class="w-full bg-white rounded-lg shadow md:mt-0 sm:max-w-md xl:p-0">
            <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl">
                    Login
                </h1>
                <form class="space-y-4 md:space-y-6" method="POST">
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        {{ form.email.label(class="block mb-2 text-sm font-medium text-gray-900 form-label") }}
                        {{ form.email(class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 form-control", placeholder="nome@exemplo.com", required="") }}
                    </div>
                    <div class="form-group">
                        {{ form.password.label(class="block mb-2 text-sm font-medium text-gray-900 form-label") }}
                        {{ form.password(class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 form-control", placeholder="********", required="") }}
                    </div>
                    <div class="form-group">
                        {{ form.submit(class="justify-center flex inline w-full text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center btn btn-primary") }}
                        <!--<svg class="ml-2 mt-0.5" height="16" width="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="#ffffff" d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"/></svg>-->
                    </div>

                    <p class="flex justify-center text-sm font-light text-gray-500">
                        Ainda não tem uma conta? <a href="/registrar" class="font-medium text-blue-600 hover:underline ml-2">
                            Registre-se
                        </a>
                    </p>
                </form>
    </div>
{% endblock %}
