<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FHO Faltas | Sucesso</title>
    <script src="../../static/js/tailwind.js"></script>

    <link rel="shortcut icon" href="../../static/images/favicon.png" type="image/x-icon">
</head>
<body>
    <section class="bg-gray-50">
        <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
            <img class="w-24 h-12 mr-2" src="../../static/images/fho_logo.png" alt="Logo do Projeto">
            <a class="mt-2 flex items-center mb-6 text-2xl font-bold text-gray-900">
                Sistema de Faltas
            </a>
            <div class="w-full bg-white rounded-lg shadow md:mt-0 sm:max-w-md xl:p-0">
                <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                    <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl">
                        Sucesso
                    </h1>
                    <p class="text-green-500 font-medium py-2 flex inline">
                        <svg class="mt-1 mr-2 text-green-500" height="24" width="24" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="#22c582" d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"/></svg>
                        Conta criada com Sucesso!
                    </p>
                </div>
            </div>
        </div>
      </section>
</body>
</html>
<!-- Gabigol Inc -->